*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body{
     background-color: rgb(249, 249, 249);
}

.navbar{
    background-color: rgba(255,255,255,0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(17px);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-weight: 320;
    font-size: 14px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}


.navbar img{
    height: 17px;
}

.hero{
    height: 700px;
    background-image: url(heroimg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    border-bottom: 15px solid white;
}

.hero button{
    background-color: rgb(7, 7, 255);
    height: 47px;
    width: 85px;
    border-radius: 30px;
    border: none;
    color: white;
    margin-left: 250px;
    margin-top: 10px;
}
.hero .text{
    width: 1000px;
    font-size:30px;
    height: 150px;
    line-height: 48px;
    margin-top: 80px;
    margin-left: 400px;
}

.hero .text h1{
    text-align: center;
    margin-right: 400px;
    font-weight: 450;
}

.hero .text h2{
    font-weight:350;
}
.hero span{
    color: white;
}

.hero h1{
    font-size: 50px;
}

.hero h2{

    font-size: 25px;
}


  .iphone{
    height: 700px;
    width: 100%;
    background-image: url(heroiphone.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
    border-bottom: 15px solid white;
}


.iphone .text2{     
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    line-height: 30px;
}

.iphone .text2 h1{
    font-size: 54px;
    font-weight: 450;
    width: 100%;
}

.iphone .text2 p{
    width: 100%;
    font-size: 30px;
    font-weight: 300;
}

.iphone .text2 button{
    padding: 10px 18px;
    background-color: rgb(7, 7, 255);
    height: 47px;
    width: 14r0px;
    border-radius: 30px;
    border: none;
    color: white;  
}

.iphone .text2 .i2{
     width: 150px;
     color:rgb(7, 7, 255);
     border: 1px solid rgb(7, 7, 255);
     background-color: white;
       transition: all 0.3s ease;
}

.text2 .i2:hover{
      color:rgb(255, 255, 255);
     border: 1px solid rgb(7, 7, 255);
     background-color: rgb(7, 7, 255);
}
.iphone img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.08);
}

.macbook{
    height: 690px;
    background-color: gray;
    border-bottom: 15px solid white;
        background-image: url(mac.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

.macbook .text2{     
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    line-height: 30px;
}

.macbook .text2 h1{
    font-size: 54px;
    font-weight: 450;
    width: 100%;
}

.macbook .text2 p{
    width: 100%;
    font-size: 30px;
    font-weight: 300;
}

.macbook .text2 button{
    padding: 10px 18px;
    background-color: rgb(7, 7, 255);
    height: 47px;
    width: 150px;
    border-radius: 30px;
    border: none;
    color: white;
}

.macbook .text2 .i2{
    padding: 10px 18px;
    background-color: rgb(7, 7, 255);
    height: 47px;
    width: 100px;
    border-radius: 30px;
    border: none;
    color: white;
}




.airpad{
    height: 690px;
    background-color: beige;
    border-bottom: 15px solid white;
      background-image: url(tab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

.airpad .text2{     
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    line-height: 30px;
}

.series{
    margin-top: 0px;
     height: 1900px;
    background-color: rgb(255, 255, 255);
    border-bottom: 15px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.watch{
    height: 590px;
    background-color: red;
    width: 840px;
    background-image: url(watch.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

.fest{
  height: 590px;
    background-color: red;
    width: 840px;
    background-image: url(heroimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

.airpods{
  height: 590px;
    background-color: red;
    width: 840px;
    background-image: url(airpods.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

.air{
  height: 590px;
    background-color: red;
    width: 840px;
    background-image: url(macbookair.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

.trade{
  height: 590px;
    background-color: red;
    width: 840px;
    background-image: url(trade.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

.card{
  height: 590px;
    background-color: red;
    width:840px;
    background-image: url(card.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    overflow: hidden;
}

